/* Estilo general */

body {
    background-color: #1e1c1c;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}


/* Tabla con logo y título */

table {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    border: 5px solid #7a232e;
    padding: 10px;
}

table td {
    vertical-align: middle;
    padding: 10px;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

/* Bienvenida */

h2 {
    font-size: 2rem;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 auto 20px; 
}

/* Párrafos descriptivos */

.bienvenida {
    max-width: 700px;
    margin: 15px auto;
    background-color: #7a232e;
    padding: 15px;
    transform: translateX(-60px);
    border: 3px solid black;
    font-size: 1.1rem;
}

.creditos {
    max-width: 700px;
    margin: 15px auto;
    background-color: #7a232e;
    padding: -10px;
    border: 3px solid black;
    font-size: 1.1rem;
    
}
.creditos p {
    margin-left: 10px;
}

/* Botón de inicio de sesión */

form input[type="submit"] {
    background-color: #7a232e;
    color: white;
    border: 2px solid black;
    padding: 10px 25px;
    font-size: 1.2rem;
    margin-top: 20px;
    border-radius: 5px;
    transform: translateX(600px);
    cursor: pointer;
    transition: 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #a83646;
}

/* Enlaces de redes sociales */
a {
    color: #d5aaff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Imagen del logo */
img {
    border-radius: 50%;
}

/* Estilos para el footer y los íconos de redes sociales */
.login-footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}

.socials a {
  margin: 0 10px;
  color: #d5aaff;
  text-decoration: none;
  font-weight: bold;
}

.socials a:hover {
  text-decoration: underline;
}

.socials img {
  vertical-align: middle;
  margin-right: 5px;
}
